.main {
  background: url("/background2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  color: white;
  position: relative;
  font-family: 'Roboto', sans-serif;
}


.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.descriptionBlock, .charactersBlock {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8); /* Donkere achtergrond met doorzichtigheid */
  border-radius: 10px;
  width: 90vw;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Schaduw voor diepte */
}

.descriptionTitle, .charactersTitle {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #ffffff; /* Marvel rood voor de titels */
  font-family: 'Bebas Neue', cursive;
  border-bottom: 2px solid #ff0000; /* Rode onderstreep voor titels */
  padding-bottom: 5px;
}

.charactersList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center; /* Center de characters in het blok */
}

.main h1 {
  margin-top: 50px; /* Voeg meer ruimte toe boven de titel */
  font-size: 3.5em; 
  color: #ff0000;
  font-family: 'Bebas Neue', cursive;
};