.main {
 background: url("/background.png");
 background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.body{
background: url("/background.png");
}

.main {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.main h1 {
  margin: 50px; /* Voeg meer ruimte toe boven de titel */
  font-size: 2.5em; 
  color: white;
}

.container {
  display: flex;
  align-items: flex-start; /* Verticaal bovenaan uitlijnen */
  flex: 1; /* Nodig om elementen uit te rekken */
}

.ballsContainer {
  display: flex;
}

.ball {
  width: 40px; /* Aangepaste breedte */
  height: 40px; /* Aangepaste hoogte */
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.9); /* Vergroot de gloedintensiteit */
  margin-bottom: 20px; /* Meer ruimte tussen de bollen */
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Tekst aan de linkerkant */
}

.event {
  margin-bottom: 20px;
  cursor: pointer;
}

.event h2 {
  margin: 0;
  font-size: 1.5em;
  color:white;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
