.main {
  background: url("/background3.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.main {
  align-items: flex-start;
  padding: 1rem;
}

.main h1 {
  margin: 40px; /* Voeg meer ruimte toe boven de titel */
  font-size: 3.5em; 
  color: #ff0000;
  font-family: 'Bebas Neue', cursive;
}

.container {
  display: flex;
  align-items: flex-start; /* Verticaal bovenaan uitlijnen */
  flex: 1; /* Nodig om elementen uit te rekken */
}

.ballsContainer {
  display: flex;
}

.ball {
  width: 50px; 
  height: 50px; 
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.9); /* Toevoegen van een gloed rond de ballen */
  margin-bottom: 20px; /* Meer ruimte tussen de bollen */
  position: relative; /* Maakt positie relatief voor het positioneren van het pseudo-element */
}

.ball::before {
  content: ""; /* Voeg inhoud toe aan het pseudo-element */
  position: absolute; /* Absoluut positioneren ten opzichte van de bal */
  width: 10px; /* Breedte van het verbindingsstaafje */
  height: 70px; /* Hoogte van het verbindingsstaafje */
  background-color: rgba(255, 255, 255, 0.9); /* Kleur van het verbindingsstaafje */
  top: calc(100% + 5px); /* Afstand vanaf de bovenkant van de bal */
  left: calc(50% - 5px); /* Plaats het in het midden van de bal */
}

/* Verberg het verbindingsstaafje voor de laatste bal */
.ball:last-child::before {
  display: none;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Tekst aan de linkerkant */
}

.event {
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.event h2 {
  margin: 0;
  font-size: 1.5em;
  color: black;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
