/* src/styles/Navigation.module.css */
.bottomNav {
  position: fixed;
  background-color: #000099;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottomNav .MuiBottomNavigationAction-root .MuiSvgIcon-root {
  fill: white; /* Kleur van de iconen */
}
